body {
  background-color: #808080;
}
.mainCompare {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.mainCompare img {
  max-width: 50%;
  object-fit: scale-down;
}

.mainCompare .a {
}
.mainCompare .b {
}

.ranking {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 100vw;
}
.ranking li {
  flex: 1 1;
  position: relative;
}
.ranking span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-shadow:
    1px 1px 1px #fff,
    -1px -1px 1px #fff;
  opacity: 0.5;
  transition: 200ms ease-in-out opacity;
}
.ranking li:hover span {
  opacity: 1;
}
.ranking img {
  max-width: 100%;
}
