body {
  background-color: #808080;
}
.mainCompare {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.mainCompare img {
  max-width: 50%;
  object-fit: scale-down;
}

.ranking {
  display: flex;
  flex-direction: row-reverse;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ranking li {
  flex: 1 1;
  position: relative;
}
.ranking span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-shadow:
    1px 1px 1px #fff,
    -1px -1px 1px #fff;
  opacity: 0.5;
  transition: 200ms ease-in-out opacity;
}
.ranking li:hover span {
  opacity: 1;
}
.ranking img {
  display: block;
  max-width: 100%;
}
.comparing {
  outline: 0.4rem solid #fff7;
  z-index: 7;
}
.outcast {
  opacity: 0.25;
}
